.menu-shadow {
    position: absolute;
    top: 80px;
    width: 100%;
    min-height: calc(100vh - 80px - 50px);
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    z-index: 100;
}

.menu-overlay {
    background-image: url("../../../assets/wave.svg");
    background-repeat: no-repeat;
    background-size: 110;
    margin: 0 auto;
    background-color: var(--textSecondaryColour);
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    width: 55%;
    aspect-ratio: 1.6;
    padding: 1vw;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.5fr 1fr 0.75fr 0.75fr;
    gap: 1vw 0px; 
    justify-content: center;
    grid-template-areas: 
        "header"
        "profiles"
        "graph"
        "button"
}

.menu-header {
    grid-area: header;
    width: 100%;
    height: 10%;
    font-size: 4vw;
    text-align: center;
    color: var(--textColour);
    text-shadow: var(--textShadow);
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1;
}

.menu-pictures {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 0.3fr 1fr;
    gap: 0px 0px; 
    justify-content: center;
    grid-template-areas: 
        "picture-left lightning picture-right"
}

.picture-left {
    grid-area: picture-left;
    height: 100%;
    width: 45%;
    border: 0.5vw solid var(--textColour);
    border-radius: 10px;
    background-color: #e80000;
    box-shadow: 0 .3rem .4rem .1rem rgba(0,0,0,.4);
    background-image: url("../../../assets/profile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 75%;
    justify-self: center;
}

.picture-middle {
    grid-area: lightning;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/lightning.svg");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.picture-right {
    grid-area: picture-right;
    height: 100%;
    width: 45%;
    border: 0.5vw solid var(--textColour);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 .3rem .4rem .1rem rgba(0,0,0,.4);
    background-image: url("../../../assets/profile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 75%;
    justify-self: center;
}

.winner {
    border: 0.5vw solid var(--attentionColour);
}

.menu-graph {
    grid-area: graph;
    justify-self: center;
    padding-top: 1vw;
    width: 45%;
    height: 100%;
    font-size: 2vw;
    text-align: center;
    color: var(--mainColour);
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1;
}

.menu-button {
    grid-area: button;
    height: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    pointer-events: none;
}

.btn-main-menu {
    pointer-events: all;
    width: 50%;
    background-color: var(--attentionColour);
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0.5vw 0 0 var(--attentionColourLower) ,0 0.7vw .95vw .05vw var(--hoverColour);
    --hoverColour: rgba(0,0,0,.2);
    color: white;
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 2;
    padding: 3% 5%;
    line-height: 1.6;
    text-align: center;
  }
  
.btn-main-menu:hover {
    background-color: var(--attentionColourHigher);
    opacity: 1;
}

.btn-main-menu:not([disabled]):hover {
    --hoverColour: var(--attentionAccentColour);
}

.btn-main-menu:active {
    box-shadow: 0 0.3vw 0 0 var(--attentionColourLower) ,0 0.5vw .75vw .03vw var(--hoverColour);
    transform: translateY(4px);
  }