.local-wrapper {
    width: 100%;
    height: calc(100vh - 9vw);
    background-color: var(--mainColour);
}

.local-header {
    width: 100%;
    aspect-ratio: 32/1;
    font-size: 4vw;
    text-align: center;
    color: var(--textColour);
    text-shadow: 0 .1rem 0 rgba(0,0,0,.4);
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1;
    background-color: var(--mainColour);
    padding: 2vw;
}

.local-type {
    width: 100%;
    aspect-ratio: 32/5;
    background-color: var(--mainColour);
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.type-labels {
    width: 100%;
    aspect-ratio: 32/1;
    background-color: var(--mainColour);
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.type-cpu {
    height: 100%;
    aspect-ratio: 1;
    border: solid 1vw black;
    border-radius: 4%;
    background-color: white;
    display: grid;
    grid-template-areas:
		"a b"
        "c d";
}

.type-cpu:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.cpu-label {
    width: 25%;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-shadow: 0 .1rem 0 rgba(0,0,0,.4);
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1.6;
    font-size: 2vw;
}

.cpu-image {
    background-image: url("../../assets/cpu.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 1vw;
    width: 100%;
    aspect-ratio: 1;
}

.player-image {
    background-image: url("../../assets/player.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom;
    width: 100%;
    aspect-ratio: 1;
}

.type-cpu .player-image {
    grid-area: d;
}

.type-versus {
    height: 100%;
    aspect-ratio: 1;
    border: solid 1vw black;
    border-radius: 4%;
    background-color: white;
    display: grid;
    grid-template-areas:
		"a b"
        "c d";
}

.type-versus .player-image:nth-child(2) {
    grid-area: d;
}

.type-versus:hover {
    cursor: pointer;
    background-color: lightgray;
}

.versus-label {
    width: 25%;
    vertical-align: middle;
    text-align: center;
    color: white;
    text-shadow: 0 .1rem 0 rgba(0,0,0,.4);
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    line-height: 1.6;
    font-size: 2vw;
}

.local-rounds {
    width: 100%;
    aspect-ratio: 32/3;
    background-color: var(--mainColour);
    padding-top: 2vw;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    justify-content: space-evenly;
}

.round {
    width: 20%;
    aspect-ratio: 1;
    border: 0.5vw solid black;
    background-color: grey;
    border-radius: 4%;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 0 .1rem 0 rgba(0,0,0,.4);
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 4vw;
    line-height: 1.7;
    user-select: none; 
}

.round:hover {
    cursor: pointer;
    background-color: lightblue;
}

.round.selected {
    background-color: lightgreen;
}

.local-start {
    width: 100%;
    aspect-ratio: 32/3;
    background-color: var(--mainColour);
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.local-link {
    width: 50%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btn-start-game {
    appearance: none;
    backface-visibility: hidden;
    background-color: var(--attentionColour);
    border-radius: 4%;
    border-style: none;
    box-shadow: 0 0.5vw 0 0 var(--attentionColourLower) ,0 0.7vw .95vw .05vw var(--hoverColour);
    --hoverColour: rgba(0,0,0,.2);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 2;
    padding: 3% 20%;
    white-space: nowrap;
    text-decoration: none;
}

.btn-start-game:hover {
  background-color: var(--attentionColourHigher);
  opacity: 1;
}

.btn-start-game:not([disabled]):hover {
    --hoverColour: var(--attentionAccentColour);
}