.local-wrapper {
    width: 100%;
    height: calc(100vh - 80px - 50px);
    background-color: var(--mainColour);
    overflow: auto;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px; 
    justify-content: center;
    grid-template-areas: 
        "leave-button local-top"
        ". local-middle"
        ". local-bottom"
        ". ."
}

.local-leave-button {
    grid-area: leave-button;
    background-color: var(--attentionColour);
    margin: 1vw;
    width: 55%;
    aspect-ratio: 1;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0.5vw 0 0 var(--attentionColourLower) ,0 0.7vw .95vw .05vw var(--hoverColour);
    --hoverColour: rgba(0,0,0,.2);
    background-image: url("../../assets/exit.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transform: scaleX(-1);
}

.local-leave-button:hover {
    background-image: url("../../assets/exit_hover.svg");
    background-color: var(--attentionColourHigher);
    opacity: 1;
  }
  
.local-leave-button:not([disabled]):hover {
    --hoverColour: var(--attentionAccentColour);
}

.local-leave-button:active {
    box-shadow: 0 0.3vw 0 0 var(--attentionColourLower) ,0 0.5vw .75vw .03vw var(--hoverColour);
    transform: scaleX(-1) translateY(4px);
}

.local-template {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.2fr 1fr;
    gap: 0px 0px; 
    justify-content: center;
    grid-template-areas: 
        "label"
        "buttons"
}

.local-template.game-types{
    grid-area: local-top;
}

.local-template.game-rounds{
    grid-area: local-middle;
}

.local-template.game-turns{
    grid-area: local-bottom;
}

.type-header {
    grid-area: label;
    margin-top: 1vw;
    background-color: var(--mainColour);
    width: 100%;
    font-family: var(--mainFont);
    font-weight: 700;
    color: var(--textColour);
    text-shadow: var(--textShadow);
    font-size: 2.5vw;
    line-height: 1;
    align-self: end;
}

.types {
    grid-area: buttons;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px; 
    justify-content: center;
    grid-template-areas: 
        "cpu versus"
}

.type-template {
    background-color: var(--mainAccentColour);
    margin: 1vw;
    width: 55%;
    aspect-ratio: 3.5;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0.5vw 0 0 #7baabc;
    --hoverColour: rgba(0,0,0,.2);
    opacity: 0.5;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1fr;
    gap: 0px 0px; 
    justify-content: center;
    cursor: pointer;
    grid-template-areas: 
        "head tail"
}

.type-image {
    grid-area: head;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.image-cpu {
    background-image: url("../../assets/cpu.svg");
    background-size: 90%;
}

.image-versus {
    background-image: url("../../assets/versus.svg");
    background-size: 60%;
    background-position: 50% 40%;
}

.type-label {
    grid-area: tail;
    align-self: end;
    margin: 10%;
    font-family: var(--mainFont);
    font-weight: 800;
    color: #7baabc;
    font-size: 3vw;
    line-height: 1;
    user-select: none;
}

.rounds {
    grid-area: buttons;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px; 
    justify-content: center;
    grid-template-areas: 
        "one three five seven"
}

.round-button {
    background-color: var(--mainAccentColour);
    margin: 1vw;
    width: 55%;
    aspect-ratio: 1.8;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0.5vw 0 0 #7baabc;
    --hoverColour: rgba(0,0,0,.2);
    opacity: 0.5;
    cursor: pointer;
    font-family: var(--mainFont);
    font-weight: 800;
    color: #7baabc;
    font-size: 4.5vw;
    text-align: center;
    line-height: 150%;
    user-select: none;
}

.turns {
    grid-area: buttons;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 0.5fr 1fr;
    gap: 0px 0px; 
    justify-content: center;
    grid-template-areas: 
        "red white start-game"
}

.turn-template {
    background-color: var(--mainAccentColour);
    margin: 1vw;
    width: 50%;
    aspect-ratio: 5;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0.5vw 0 0 #7baabc;
    --hoverColour: rgba(0,0,0,.2);
    opacity: 0.5;
    cursor: pointer;
    font-family: var(--mainFont);
    font-weight: 800;
    color: #7baabc;
    font-size: 4.5vw;
    text-align: center;
    line-height: 150%;
    user-select: none;
}

.checker-format.turn {
    transform: scale(0.75);
    opacity: 0.9;
}

.local-start-button {
    grid-area: start-game;
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
    background-color: var(--attentionColour);
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0.5vw 0 0 var(--attentionColourLower) ,0 0.7vw .95vw .05vw var(--hoverColour);
    --hoverColour: rgba(0,0,0,.2);
    color: var(--textColour);
    text-shadow: var(--textShadow);
    cursor: pointer;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 3vw;
    font-weight: 700;
    padding: 1vw 1vw;
    line-height: 0.8;
}

.highlight {
    opacity: 1;
}