footer {
    /* position: absolute; */
    /* width: 100%; */
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17.5px;
    background: linear-gradient(90deg, var(--outsideColour) 0%, black 300%);
    color: white;
    font-size: 15px;
}