* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  --outsideColour: #313a3b;
  --mainColour: #4C5B5C;
  --mainAccentColour: #C0D6DF;
  --textColour: #EAEAEA;
  --textSecondaryColour: hsl(0, 0%, 80%);
  --textShadow: 0 .1rem 0 rgba(0,0,0,.4);
  --attentionColour: hsl(34, 100%, 47%);
  --attentionColourLower: hsl(34, 100%, 38%);
  --attentionColourHigher: hsl(34, 100%, 56%);
  --attentionAccentColour: #FFF585;
  --mainFont: "Montserrat",sans-serif;
}