.white-bar {
    width: 80%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.red-bar {
    width: var(--red-percentage);
    height: 100%;
    background-color: #e80000;
    transition: width 1s ease-in-out;
    border-radius: 10px;
}