  .checker-format {
    background: radial-gradient(circle, var(--color) 0%, var(--color) 40%, var(--rings) 45%, var(--color) 50%, var(--color) 55%, var(--rings) 60%, var(--color) 65%, var(--color) 100%);
    box-shadow: -3px -3px 5px 5px rgba(0, 0, 0, 0.5) inset, 2px 2px 5px 3px rgba(255, 255, 255, 0.3) inset;
    position: relative;
    width: 65%;
    height: 20%;
    top: 1%;
    margin: 0px auto;
    border-radius: 50%;
    pointer-events: none;
    flex: 0 0 20%;
    z-index: 11;
  }

  .checker-red {
    --color: #e80000;
    --rings: rgb(121, 1, 1);
  }

  .checker-white {
    --color: white;
    --rings: grey;
  }

  .movable {
    --color: rgb(0, 182, 0);
    --rings: rgb(0, 125, 0);
  }