.box-up {
    position: absolute;
    top: 0;
    height: 35%;
    width: 100%;
    display: flex;
    box-shadow: 3px 3px 5px 3px rgba(31, 31, 31, 0.356) inset;
}

.box-middle {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 100%;
    border-top: 25px;
    border-bottom: 25px;
    border-image: url("../../../assets/leather.jpeg") 10% 30% / 20px 10px / 10px;
    box-shadow: 3px 15px 15px 3px rgb(31, 31, 31) inset;
    background-image: url("../../../assets/cloth.jpg");
    align-items: center;
    justify-content: center;
    display: flex;
}

.box-down {
    position: absolute;
    bottom: 0;
    height: 35%;
    width: 100%;
    display: flex;
    box-shadow: 3px 15px 5px 3px rgba(31, 31, 31, 0.356) inset;
}
