.btn-dice { 
    display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	width: 100%;
	height: 100%;
    margin: 1%;
	padding: 1%;
	background-color: #e7e7e7;
	box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
		inset -5px 0 #d7d7d7;
	border-radius: 10%;
}

.btn-dice .clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: rgb(201, 201, 201);
}

.btn-dot {
    display: block;
	align-self: center;
	justify-self: center;
	width: 65%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #333;
	box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.btn-dot:nth-child(2) {
	grid-area: b;
}
.btn-dot:nth-child(3) {
	grid-area: c;
}
.btn-dot:nth-child(4) {
	grid-area: d;
}
.btn-dot:nth-child(5) {
	grid-area: e;
}
.btn-dot:nth-child(6) {
	grid-area: f;
}

.btn-dot:nth-child(odd):last-child {
	grid-area: g;
}