.tri-column {
    width: 16.6%;
    height: 100%;
}

.checkers-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.region-down .checkers-column {
    flex-direction: column-reverse;
}

.click {
    cursor: pointer;
}

.receivable {
    cursor: pointer;
}

.tri--up {
    position: absolute;
    width: 16.6%;
    height: 85%;
    bottom: 0;
    background-image:
        linear-gradient(to top left, var(--color) 50%, transparent 50%),
        linear-gradient(to top right, var(--color) 50%, transparent 0%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
}

.tri--down {
    position: absolute;
    width: 16.6%;
    height: 85%;
    background-image:
        linear-gradient(to bottom left, var(--color) 50%, transparent 50%),
        linear-gradient(to bottom right, var(--color) 50%, transparent 0%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
}

.p1-color {
    --color: #332724;
}

.p2-color{
    --color: rgb(175, 23, 43);
}

.receivable {
    --color: rgba(0, 128, 0, 0.70);
}